__pycache__/
*.pyc
*.pyo
.pytest_cache/
.venv/
venv/
.cache/
.mplconfig/
*.egg-info/
build/
dist/
.coverage
coverage.xml
htmlcov/

.DS_Store
.ipynb_checkpoints/

*.log

scripts/base/config_base_temp.yaml
scripts/base/config_base_sample.yaml

data/estimators/base/*.json
data/tables/base/*.csv
data/tables/base/*.tex
data/tables/base/*.txt
!data/estimators/base/.gitkeep
!data/tables/base/.gitkeep
